:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --background-color: #ffffff;
  --active-color: #404bbf;
  --background-hero-color: #2e2f42;
  --hero-title-color: #ffffff;
  --header-logo-color: #4d5ae5;
  --hero-btn-text: #ffffff;
  --footer-logo-color: #f4f4fd;
  --footer-logo-text: #4d5ae5;
  --background-footer-color: #2e2f42;
  --footer-text-color: #e7e9fc;
  --backgroud-filter-btn: #f4f4fd;
  --filter-btn-color: #4d5ae5;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--active-color);
}
.list {
  list-style: none;
}

.nav-list {
  display: flex;
}
.nav-list li {
  margin-right: 40px;
}
.nav-list .nav-item:last-child {
  margin-right: 0px;
}
.main-nav {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--footer-text-color);
}

.address {
  display: flex;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--hero-btn-text);
  background-color: var(--active-color);
}
.address-mailto:hover,
.address-mailto:focus {
  color: var(--active-color);
}
.address-tel:hover,
.address-tel:focus {
  color: var(--active-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* Header */

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--title-text-color);

  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.header-logo-web {
  color: var(--header-logo-color);
}

.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  cursor: pointer;
}

.address {
  font-style: normal;
}
.address-mailto {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.address-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

/* Hero */
.hero {
  background-color: var(--background-hero-color);

  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-title-color);
  width: 496px;
  margin-right: auto;
  margin-left: auto;
}
.hero-btn {
  background: var(--filter-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding-left: 800px;
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;

  letter-spacing: 0.04em;
  color: var(--hero-btn-text);
  cursor: pointer;
  margin-top: 48px;
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
}
/* section1 */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 8px;
}
.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/* Чем занимаемся */
.fuature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  margin-bottom: 72px;
}
/* Команда */
.team {
  background-color: var(--footer-logo-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--title-text-color);
  margin-bottom: 72px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.footer {
  background-color: var(--background-footer-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo-color);
  text-decoration: none;
}
.footer-logo-text {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo-text);
  display: inline-block;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  width: 264px;
  margin-top: 16px;
}
/* Portfolio */
.filter-btn {
  background-color: var(--backgroud-filter-btn);
  border: 1px solid var(--footer-text-color);
  border-radius: 4px;
}
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--filter-btn-color);
  cursor: pointer;
  padding: 12px 24px;
}

/* Портфолио проэкты */
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 8px;
}
.project-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.address li {
  margin-right: 40px;
}
.address li:last-child {
  margin-right: 0px;
}
.address {
  margin-left: auto;
}
.advantages {
  display: flex;
  flex-direction: row;
}
.advantages-list {
  padding-top: 120px;

  padding-bottom: 120px;
}
.section-advantages .list li {
  width: 264px;
  height: 104px;
}
.advantages .item {
  margin-right: 24px;
  width: 264px;
}
.advantages .item:last-child {
  margin-right: 0px;
}
.fuature-list {
  display: flex;
}
.fuature-list .item {
  margin-right: 24px;
}
.fuature-list .item:last-child {
  margin-right: 0px;
}
.team-list {
  display: flex;
}
.team-list .item {
  margin-right: 24px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-list .item:last-child {
  margin-right: 0px;
}
.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
.filter {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 72px;
}
.filter .item {
  margin-right: 24px;
}
.filter .item:last-child {
  margin-right: 0px;
}
.project {
  display: flex;
  flex-wrap: wrap;
}
.project .item {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
}
.project > .item:nth-child(3n) {
  margin-right: 0px;
}

.fuature {
  padding-bottom: 120px;
}
.project .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.project-card {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--footer-text-color);
}
.project-list {
  padding-top: 96px;
  padding-bottom: 120px;
}
